
.card-subscription {
  padding: 20px;
  font-family: $font-account;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: $color-gray-090;
  background-color: $color-white;
  border: 1px solid transparentize($color-cornflower-blue, 0.7);
  border-radius: 20px;
}
.card-subscription__top {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}
.card-subscription__label {
  margin-left: auto;
}
.card-subscription__title {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}
.card-subscription__price {
  margin-left: auto;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.01%;
  b {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
  }
}
.card-subscription__info-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
.card-subscription__info {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 12px;
}
.card-subscription__options-title {
  margin-top: 24px;
  font-weight: 700;
}
.card-subscription__options {
  @include list-reset;
  margin-top: 16px;
  margin-bottom: 23px;
  line-height: 24px;
  li {
    display: flex;
    align-items: center;
    column-gap: 12px;
    svg {
      display: block;
      flex-shrink: 0;
      fill: $color-cornflower-blue;
    }
    &:not(:first-child) {
      margin-top: 12px;
    }
  }
}
.card-subscription__btn {
  width: max-content;
  margin-left: auto;
}
.card-subscription__bottom {
  padding-top: 24px;
  border-top: 1px solid transparentize($color-cornflower-blue, 0.7);
}
.card-subscription__bottom-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
.card-subscription__bottom-btn {
  margin-top: 16px;
}
