.dialog-steps {
  width: 100%;
  max-width: 760px;
  padding: 30px 62px 35px 62px;
  font-family: $font-account;
  font-size: 18px;
  line-height: 130%;
  color: $color-gray-blue;
  background-color: $color-white;
  border-radius: 30px;
}
.dialog-steps__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
}
.dialog-steps__item {
  position: relative;
  &:not(:first-child) {
    margin-top: 24px;
  }
}
.dialog-steps__icon {
  position: absolute;
  top: 2px;
  right: calc(100% + 12px);
  display: block;
  width: 20px;
  height: 20px;
  svg {
    display: block;
  }
}
.dialog-steps__name {
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}
.dialog-steps__text {
  margin-top: 12px;
}
.dialog-steps__img {
  margin-top: 24px;
  overflow: hidden;
  background-color: $color-gray-851;
  border: 1px solid transparentize($color-blue-dark, 0.84);
  border-radius: 20px;
  aspect-ratio: 15 / 8;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dialog-steps__btn-item {
  margin-top: 16px;
}
