.label-trial {
  margin-top: 12px;
  padding: 30px;
  font-family: $font-account;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: $color-white;
  background: linear-gradient(188deg, #4aa3ef 0%, #015ba7 100%);
  border-radius: 25px;
}
.label-trial__title {
  font-family: $font-account;
  font-size: 26px;
  line-height: 31px;
}
.label-trial__text {

}
