.label-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  max-width: max-content;
  min-height: 48px;
  padding: 9px 19px 9px 8px;
  font-family: $font-account;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: $color-gray-090;
  background-color: $color-blue-alice-2;
  border: 0;
  border-radius: 12px;
  &.error {
    .label-header__icon {
      background-color: transparentize($color-red, 0.9);
    }
    .label-header__icon svg {
      fill: $color-red;
    }
  }
}
.label-header__icon {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  background-color: $color-white;
  border-radius: 50%;
  svg {
    display: block;
    flex-shrink: 0;
    fill: $color-cornflower-blue;
  }
}
