include ../elements/images

mixin ca-field-pass({})
  fieldset.ca-field-pass
    input.ca-field(type="password" placeholder="Password")
    input.ca-field(type="password" placeholder="Confirm")
    button.ca-field-pass__visible(type="button" onclick="this.classList.toggle('show'); this.blur();" aria-label="show password")
      +svg({ name: "icon-pass-hide", width: 32, height: 32 })
      +svg({ name: "icon-pass-show", width: 32, height: 32 })
