mixin ca-oauth({})
  .ca-oauth
    ul.ca-oauth__list
      each it in oAuthProvides
        button.ca-oauth__btn(type="button")
          +svg({ name: it.icon, height: 40 })
          =it.name
    a.ca-oauth__link(href="#") Or created account with email
