include ../components/f-radio-card

mixin card-payment({ isEmpty })
  .card-payment
    h3.card-payment__title Payment method
    .card-payment__text Easily update your billing details for your subscription.
    if !isEmpty
      .card-payment__card-list
        +f-radio-card({ id: "card-item-1" })
        +f-radio-card({ id: "card-item-2", isChecked: true})
    button.btn-account-small=(isEmpty ? "Add Payment Information" : "Edit Payment Information")
