include ../components/label-info
include ../components/label-header
include ../components/label-status

mixin card-subscription-option({ text })
  li
    +svg({ name: "icon-list-check", width: 20, height: 20 })
    =text

mixin card-subscription({ isTrial })
  .card-subscription
    .card-subscription__top
      if isTrial
        h3.card-subscription__title Trial Period
        .card-subscription__label
          +label-status({ color: "purple", text: "Active" })
      else
        h3.card-subscription__title GrowthRx
        +label-status({ text: "Active" })
        .card-subscription__price #[b $450]/month
    if isTrial
      .card-subscription__info-title You have some left:
    else
      | Subscription active for 30 days. #[br] Active till #[b 30.04.2024].
    .card-subscription__info
      if isTrial
        +label-header({ icon: "icon-label-calc", text: "3 days left of 14" })
        +label-header({ icon: "icon-label-delivery", text: "20 deliveries out of 50 left", isError: isHeaderLabelsError })
      else
        +label-info({ icon: "icon-label-calc", text: "10 days left" })
        +label-info({ icon: "icon-label-delivery", text: "Deliveries: 2/100" })
    .card-subscription__options-title Subscriptions include:
    ul.card-subscription__options
      +card-subscription-option({ text: "Integrated" })
      +card-subscription-option({ text: "Visualize all stops and draw territories" })
      +card-subscription-option({ text: "Plan optimized routes" })
      +card-subscription-option({ text: "Capture proof of delivery" })
      +card-subscription-option({ text: "Send 3 SMS per delivery - Sheduled, Out for Delivery, Delivered" })
      +card-subscription-option({ text: "Patient tracking portal" })
      +card-subscription-option({ text: "Copay management" })
      +card-subscription-option({ text: "Your pharmacy brand tracking portal" })
      +card-subscription-option({ text: "Premium training and Onboarding scheduled" })
    if isTrial
      .card-subscription__bottom
        .card-subscription__bottom-text You can upgrade to a plan that suits your needs at any time during your trial.
        .card-subscription__bottom-btn
          a(href="#").btn-account-big Upgrade Now
    else
      .card-subscription__btn
        a(href="#").btn-account-small Upgrade plan
