mixin f-switch({ isAnnually })
  - let onClickBtn = "document.querySelectorAll('.f-switch__btn').forEach(btn => btn.classList.remove('actv')); this.classList.add('actv')"
  .f-switch()
    button.f-switch__value.f-switch__btn.actv(onclick=onClickBtn) Monthly
    button.f-switch__value.f-switch__btn(onclick=onClickBtn) Annually
