.f-field-select {
  position: relative;
  select {
    @include transition(color, border-color);
    width: 100%;
    padding: 19px 20px 20px 20px;
    font-family: $font-text;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: left;
    color: $color-text;
    border: 1px solid transparentize($color-blue-dark, 0.6);
    border-radius: 12px;
    appearance: none;
    &::placeholder {
      color: transparentize($color-gray-067, 0.60);
    }
  }
  &.error {
    color: $color-red;
    border-color: $color-red;
    outline: none;
  }
}
.f-field-select__icon {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  svg {
    display: block;
  }
}
