.f-field {
  @include transition(color, border-color);
  width: 100%;
  padding: 19px 20px 20px 20px;
  font-family: $font-text;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
  color: $color-text;
  border: 1px solid transparentize($color-blue-dark, 0.6);
  border-radius: 12px;
  appearance: none;
  &::placeholder {
    color: transparentize($color-gray-067, 0.60);
  }
  &::-webkit-credentials-auto-fill-button { // for hidden key icon in safari
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  &[type="number"]::-webkit-outer-spin-button, // webkit
  &[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
  &[type="number"] { // firefox
    appearance: textfield;
  }
  &.error {
    color: $color-red;
    border-color: $color-red;
    outline: none;
  }
}
