.f-switch {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0;
  padding: 0;
  font-family: $font-account;
  font-size: 16px;
  line-height: 21px;
  color: transparentize($color-signal-blue, 0.4);
  background-color: $color-periwinkle-crayola;
  border: 0;
  border-radius: 60px;
  box-shadow: 0 0 0 1px transparentize($color-cornflower-blue, 0.7) inset;
}
.f-switch__btn {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 0;
  padding: 13px 25px 13px 25px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 60px;
  cursor: pointer;
  &.actv {
    padding: 13px 35px 13px 35px;
    font-weight: 700;
    color: $color-white;
    background-color: $color-cornflower-blue;
  }
}
