extends ../elements/layout-create-account
include ../elements/images

block data
  -
    title = "Rx4Route: create account — success"
    step = 2


block content
  .ca-content
    .ca-content__title You have successfully registered
    .ca-content__text Our sales representative will reach out to you shortly to assist with tailoring the perfect plan to meet your needs. Thank you for choosing Rx4Route!
