extends ../elements/layout-create-account
include ../elements/images
include ../components/terms
include ../components/sing-in
include ../components/f-field-pass

block data
  -
    title = "Rx4Route: create account — enter email"
    step = 1


block content
  .ca-content.ca-content--form
    .ca-content__title Create Account
    form.ca-form
      .ca-form__row
        input.f-field(type="text" placeholder="Company Name")
      .ca-form__row
        .ca-form__cols
          input.f-field.error(type="text" placeholder="First Name")
          input.f-field(type="text" placeholder="Last Name")
        .ca-error Enter a First Name
      .ca-form__row.erorr
        input.f-field.error(type="email" placeholder="Email")
        .ca-error Email is incorrect
      .ca-form__row
        +f-field-pass({})
      .ca-form__row
        .ca-form__note.error Use 8 or more characters with a mix of letters, numbers & symbols
      .ca-form__submit
        button.btn-registration(type="submit" disabled) Continue
      +terms({})
    +sing-in({})
