extends ../elements/layout-create-account
include ../elements/images
include ../components/btn-back
include ../components/ca-field-verify

block data
  -
    title = "Rx4Route: create account — verify phone"
    step = 2


block content
  .ca-content.ca-content--form
    +btn-back({})
    .ca-content__title Verify Your Phone
    .ca-content__subtitle We’ve sent a 6-character verification code to +1&nbsp;(234)&nbsp;345-34-34. The code expires soon.
    form.ca-form
      .ca-form__verify
        +ca-field-verify({})
      .ca-form__note Didn’t get your code?
      button.ca-form__link(type="button") Resend code
