extends ../elements/layout-dialog
include ../elements/images
include ../components/dialog-steps

block data
  -
    title = "Rx4Route: dialog steps — route"


block content
  +dialog-steps({ content: contentSteps, openSteps: 2, isImage: true })
  button.dialog-page__btn-bottom Watch later
