$color-gray-851: #d9d9d9;   // hsl(0, 0%, 85.1%)
$color-gray-090: #171717;   // hsl(0, 0%, 09.0%)
$color-gray-067: #111111;   // hsl(0, 0%, 06.7%)

$color-text: #2d2926;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-blue: #24222f;
$color-periwinkle-crayola: #f7f8fb;
$color-blue-dark: #000080;
$color-blue: #486ef5;
$color-blue-light: #29b6ff;
$color-blue-alice: #edf1ff;
$color-blue-alice-2: #eef2ff;
$color-red: #e80045;
$color-cornflower-blue: #4aa3ef;
$color-very-pale-blue: #d3d9de;
$color-yellow-green: #8cc63f;
$color-dark-pastel-green: #00cc33;
$color-moderate-slate-blue: #786CFF;
$color-signal-blue: #162854;
$color-grayish-blue: #55595c;
