@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Poppins"),
    local("Poppins-Regular"),
    url("/fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local("Poppins"),
    local("Poppins-Semibold"),
    url("/fonts/poppins-v20-latin-600.woff2") format("woff2");
}
