// fonts
$font-text: "Poppins", sans-serif;
$font-account: "Lato", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-max: 1908px;
$container-min: 375px;

// breakpoints
$breakpoint-sm: 375px;
$breakpoint-md: 576px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: $container-max;

// padding
$padding: 8px;
$padding-sm: 10px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 15px;
