.btn-registration {
  @include transition(background-color);
  width: 100%;
  margin: 0;
  padding: 13px 20px;
  font-family: $font-text;
  font-size: 20px;
  line-height: 24px;
  color: $color-white;
  background-color: $color-blue-dark;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: color.adjust($color-blue-dark, $lightness: 20%);
  }
  &[disabled] {
    opacity: 0.6;
  }
}
