.btn-dialog {
  @include transition(background-color);
  width: 100%;
  margin: 0;
  padding: 20px 20px 21px 20px;
  font-family: $font-text;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
  background-color: $color-blue-dark;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: transparentize($color-blue-dark, 0.15);
  }
  &[disabled] {
    opacity: 0.6;
  }
}
